@import "/src/assets/_variables";
@import "/src/assets/_animations";

@font-face {
  font-family: 'SpaceMono';
  src: url('/src/fonts/SpaceMono-Regular.ttf') format('truetype');
}

/*      MAIN      
-------------------------*/

body {
  background-image: url("../img/pink_blue_outdoor.jpeg");
  background-size: cover;
}

/*      HEADER
-------------------------*/

.gradient-header {
  margin-top: 100px;
  background: $bg;
}
header img {
  width: 200px;
  margin: auto;
}
.dropdown {
  background: $pink;
}

/*      FOOTER 
--------------------------*/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $footer_bg;
}

footer.scrolled1 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/*      HISTOIRE
-------------------------*/

.text-translate-left-right,
.text-translate-right-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.text-translate-left-right p,
.text-translate-right-left p {
  font-family: 'SpaceMono';
  margin: 5rem 0;
  background: $bg;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  @media screen and (max-width: 720px) {
    flex-direction: column;
    width: auto;
    font-size: 1rem;
  }
}

.text-translate-left-right img,
.text-translate-right-left img {
  object-fit: cover;
  border-radius: 0.5rem;
  @media screen and (max-width: 720px) {
    margin-bottom: 1.5rem;
  }
}

#lastdiv {
  margin-bottom: 80px;
}


/*      ENTREES
-------------------------*/

.entrees {
  background: $bg;
  margin-top: 50px;
}